.activity__heading {
  margin-bottom: 18px;
  text-align: center;
}

.activity__text {
  text-align: center;
  width: 200px;

  &::first-letter {
    text-transform: capitalize;
  }
}

.activity {
  margin-left: 20px;
}
