.navigation-menu {
  display: flex;
  gap: 10px;
  font-size: 0.5rem;
  height: 40px;
  flex-wrap: wrap;

  @media (width >= 380px) {
    font-size: 0.8rem;
  }
}

.navigation-menu__button {
  background-color: var(--gray);
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.navigation-menu__button--active {
  color: var(--white);
  background-color: var(--active);
}
