.header {
  height: 110px;
}

.heading {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 20px;
}

.heading__icon {
  font-size: 35px;
}

.heading__title {
  text-transform: uppercase;
}
